$gray: darkgray;
$black: #343434;
$blue: #3e64ff;
$blue-light: #5edfff;
$blue-lighter: #b2fcff;
$blue-lightest: #ecfcff;

$heading-font: Montserrat,sans-serif;

html{
    overflow-y: scroll;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather','Georgia',serif;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 40px 0;
}

a{
    text-decoration: none;
}

header{
    color: $black;
    padding: 20px 0;
    a{
        font-weight: 500;
        letter-spacing: 1px;
        font-family: $heading-font;
        font-size: 2.25rem;
        color: $black;
    }
    h1{
        display: inline;
    }
    p{
        display: inline;
        margin-left: 10px;
        color: $gray;
    }
}

.no-nav-wrapper{
    header{
        a{
            letter-spacing: 0.5px;
            color: $blue;
            font-size: 1.5rem;
        }
    }
}

nav{
    display: flex;
    a{
        font-family: $heading-font;
        margin-left: 10px;
        color: $gray;
        padding: 0 5px 5px 5px;
        transition: box-shadow 0.2s ease-in;
        &:hover:not(.active-link){
            box-shadow: 0px 1px $gray;
        }
    }
}

.active-link{
    padding-bottom: 5px;
    border-bottom: 1px solid $black;
    color: $black;
}

.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 30px;
}

.content{
    max-width: 600px;
    margin: auto;
    margin-bottom: 100px;
}

.post-body{
    font-size: 20px;
    line-height: 1.25;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    color: $gray;
    display: flex;
    justify-content: center;
    background-color: white;
    a{
        color: $gray;
        margin-right: 10px; 
        font-size: 1.5rem;
        &:last-child{
            font-size: 1.25rem;
            margin: 0;
        }
    }
}

time{
    font-size: smaller;
}

article{
    margin-bottom: 30px;
    h2{
        margin: 0 0 10px 0;
        color: $blue;
    }
    p{
        margin: 0 0 5px 0;
        color: $gray;
    }
}


.post-title{
    margin-bottom: 30px;
    h1{
        font-size: 2rem;
        margin: 0;
    }
    p{
        margin: 0;
    }
}

.image-wrapper{
    width: 300px;
}

.about-page{
   p{
       font-size: 20px;
       line-height: 1.25;
   }
}

.nav-icons{
    display: none;
}

.js-title{
    font-size: 3rem;
    font-weight: 700;
    background-color: #e9d54d;
    padding: 0 4px;
    margin-right: 3px;
}

@media(max-width: 735px){
    .nav-wrapper{
        margin-top: 0;
    }
    nav{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        border-top: 1px solid rgba(200,200,200, .5);
        box-shadow: 0 0 5px -2px rgba(0, 0, 0, .5);
        background-color: white;
        z-index: 1000;
        a{
            flex-grow: 1;
            margin: 0;
            padding: 5px;
            text-align: center;
            padding: 12px 0 11px 0;

        }
    }
    .nav-icons{
        display: block;
    }
    header{
        h1{
            display: block;
            margin-bottom: 8px;
        }
        p{
            margin-left: 0;
        }
        a{
            font-size: 2rem;   
        }
    }
    .no-nav-wrapper{
        h2{
            margin: 0;
        }
    }
    .content{
        margin-top: 30px;
        margin-bottom: 0;
    }
    .active-link{
        color: $blue;
        border: none;
    }
    footer{
        position: relative;
        font-size: 1.5rem;
        margin-bottom: 50px;
        a{
            font-size: 1.75rem;
            &:last-child{
                font-size: 1.5rem;
            }
        }
    }
    .no-nav-footer{
        margin-bottom: 0;
    }
}
