$gray: darkgray;
$black: #343434;
$blue: #3e64ff;
$blue-light: #5edfff;
$blue-lighter: #b2fcff;
$blue-ligthest: #ecfcff;

$heading-font: Montserrat,sans-serif;

body, html {
    padding: 0;
    margin: 0;
    font-family: Georgia, serif;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 40px 0;
}

a{
    text-decoration: none;
    color: $black;
}

header{
    color: $black;
    padding: 20px 0;
    a{
        font-weight: 600;
        letter-spacing: 2px;
        font-family: $heading-font;
    }
    h1{
        display: inline;
    }
    p{
        display: inline;
        margin-left: 10px;
    }
}

.no-nav-wrapper{
    header{
        a{
            letter-spacing: 0.5px;
            color: $blue;
        }
    }
}

nav{
    a{
        margin-left: 10px;
        color: $gray;
        padding: 0 5px;
    }
}

.active-link{
    padding-bottom: 5px;
    border-bottom: 1px solid $gray;
    color: $black;
}

.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 30px;
}

.content{
    max-width: 600px;
    margin: auto;
}

footer{
    position: absolute;
    bottom: 0;
    padding: 20px 0;
}

time{
    font-size: smaller;
}

article{
    margin-bottom: 30px;
    h2{
        margin: 0 0 10px 0;
        color: $blue;
    }
    p{
        margin: 0 0 5px 0;
        color: $gray;
    }
}


.post-title{
    margin-bottom: 30px;
    h1{
        font-size: 2.5rem;
        margin: 0;
    }
    p{
        margin: 0;
    }
}


